@import "tailwindcss";
:root {

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  color: #040404;
    background-color: #FEFFF5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Nav Bar */

.nav-bar {
  position: sticky;
    top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A748D6;
  color: #EFEFEF;
  z-index: 100;
}

.nav-right .nav-links {
  list-style-type: none;
  font-weight: bold;
    text-transform: uppercase;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-right .nav-links li {
  margin-right: 2rem;
}

.nav-links a{
  text-decoration: none;
  color: #EFEFEF
}

.nav-links a:hover {
  color: black;
}

.nav-links a.active {
  color: black;
}
.nav-left .logo {
  height: 3em;
  font-weight: bold;
  text-decoration: none;
  object-fit: cover;
  }
  
  .logo {
    height: 5em;
    object-fit: cover;
    cursor: pointer;
}

/* Name */

.content-container {
  text-align: left;
    padding-top: 6rem;
  margin-left: 3rem;
  width: 50%;
}

.content-container h1 {
  margin: 0;
  font-weight: 500;
  font-size: 4em; 
}

.content-container h3 {
  margin: 1rem 0;
  font-weight: 350;
  font-size: 2.5em;
}

.content-container>div {
 margin: 2rem 0;
 padding-left: 1rem;
height: 75vh;
}

.primary-button-container {
  position: relative;
  display: block;
  left: 10px;
  width: fit-content;
  margin-top: 30px;
  padding: 25px;
  cursor: pointer;
}

.primary-button {
  cursor: pointer;
  border: none;
    border-radius: 0 30px 0 30px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: 500;
  font-size: large;
  display: block;
  background-color: #91F57B;
    padding: 10px 15px;
}

